.displaytrip-container {
    color: white;
    background-color: #252525;
}

.activities-display {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);

    width: 47vw;
    height: 60vh;

    overflow: scroll;
    border: 0.3vmin;
    border-color: white;
    border-style: solid;
    border-radius: 0.7vmin;
}

.row-dash {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
