.login {
    color: white;
    background-color: #252525;
    min-height: 100vh;
}

.login-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 12vh;
    font-size: calc(10px + 2vmin);
}
