.displayactivity-container {
    color: black;
    background-color: bisque;
    height: fit-content;
    min-width: 99%;
    border-style: solid;
    border-width: 0.2vmin;
    border-radius: 0.5vmin;
    border-color: gray;
}

/* flex directions */
.act-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.act-col {
    display: flex;
    flex-direction: column;
}

.act-title {
    font-size: 2.5vh;
    font-weight: bold;

    display: flex;
    flex-direction: row;
}

/* icon */
.act-pic {
    font-size: 2vh;
    margin-left: 1vw;
    color: darkblue;
}

.act-time {
    font-size: 1.7vh;
}

.act-cost {
    font-size: 1.7vh;
    margin-right: 1vw;
    font-weight: bold;
}

.act-total {
    margin-left: 3vw;
}

.act-total span {
    font-size: 1.5vh;
}

.act-link {
    font-size: 1.7vh;
    margin-left: 3vw;
    font-weight: bold;
}

.act-order {
    font-size: 1.4vh;
    font-weight: bold;
}