.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: min(16vh, 12vw);
    min-height: 100px;
    width: 100vw;
    background-color: lightblue;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    font-size: max(5vh, 3vw);
}

.logo-icon {
    transform: rotate(90deg);
    color: rgb(66, 36, 148);
}
  
.logo-text {
    color: black;
    font-weight: 500;
}
  
.logo-text span {
    font-weight: 600;
    color: rgb(49, 114, 255);
}
  
.nav-links {
    display: flex;
    color: black;
    margin-right: 3vw;
}
  
.nav-links li {
    margin-right: 2vw;
    margin-left: 2vw;
    list-style: none;
}
  
.nav-links a {
    font-size: max(2.5vh, 1.7vw);
    font-weight: 300;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: blue;
    font-weight: bold;
}

.logout-div {
    display: flex;
    flex-direction: column;
    font-size: min(4.2vh, 3vw);
    text-align: center;
}

#logout {
    font-size: min(calc(2vh + 3px), 2vw);
    font-weight: bold;
    color: darkblue;
}

#logout:hover {
    color: blue;
}