.home {
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #252525;
}

.page {
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
