.plantrip-container {
    color: white;
    background-color: #252525;
    min-height: 100vh;
}

.delayed-login-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dialog {
    font-size: min(3.5vh, 2vw);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15vh;
}

.delayed-login {
    width: min(55vh, 43vw);
}

.delayed-signup {
    width: min(60vh, 50vw);
}

.createtrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-text {
    text-align: center;
    margin-top: 1vh;
    width: 70vw;
}

.create-headline {
    font-weight: bold;
    font-size: min(5.5vh, 4.5vw);
}

.create-body {
    font-weight: normal;
    font-size: min(3.5vh, 2.5vw);
}

.createtrip-form {
    margin-top: 2vh;
    padding-left: 5vmin;
    padding-right: 5vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    color: black;
    background-color: whitesmoke;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    font-size: min(3vh, 2.5vw);
}

.createtrip-form .row {
    display: flex;
    flex-direction: row;
}

.createtrip-form Select {
    width: 30vw;
    margin-left: 1vw;
}

.createtrip-form .font-smaller {
    font-size: min(1.7vh, 1.2vw);
}

.createtrip-form label {
    margin-left: 1vw;
}

.createtrip-form .left {
    margin-right: 4vw;
}

.createtrip-form .right {
    margin-left: 4vw;
}

.createtrip-form input[type='checkbox'] {
    width: 2.5vmin;
    height: 2.5vmin;
}

.createtrip-form .left input {
    margin-left: 0.5vw;
}

.createtrip-form .left input[type='number'] {
    width: 30px;
}

.createtrip-form .createtrip-btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.createtrip-form .createtrip-btn {
    font-size: min(3vh, 2.5vw);
    background-color: blue;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    min-width: 10vw;
    min-height: 5vh;
}

.createtrip-btn:hover {
    font-weight: bold;
}
