.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    border-radius: 25px;
    width: 65vh;
    height: fit-content;
}

.headline {
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
    margin-bottom: 3vh;
}

.form {
    height: 4vh;
    font-size: 100%;
}

.conf-pass {
    margin-top: 1vh;
}

.signup-btn-div {
    text-align: center;
    margin-top: 2%;
}

.signup-btn {
    margin-top: 8%;
    font-size: 100%;
    background-color: blue;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    width: 45%;
    height: 5vh;
}

.go-login {
    margin-top: 4%;
    font-size: 63%;
    margin-bottom: 2vh;
}